<!--pc 버전 시작-->
<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">교단 자정 센터</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => 'krc/main_navbar' %>
    <hr>
</div>
<!-- } 상단 끝 -->

<hr>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title"><%= @tab.name %></h2>
    </div>
    <div id="container">
        <div id="container_title">.</div>

        <article id="ctt" class="ctt_contact">
            <div id="ctt_con">
                <div class="col-md-3 col-sm-3">
                    <% @tab.intabs.all.order('turn asc').each do |side_intab| %>
                        <% if side_intab.id == @intab.id %>
                        <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menuselect"><%= side_intab.name %></p></span></a>
                        <% else %>
                        <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menu"><%= side_intab.name %></p></span></a>
                        <% end %>
                    <% end %>
                
                &nbsp;</div>
                
                
                <div class="col-md-8 col-sm-8">
                    <div class="intro">
                        <p class="intro_title"><%= @intab.name %></p>
                        <span class="site_navi"><a href="/" style="color: inherit;">Home</a> &gt; <%= @tab.name %> &gt; <strong><%= @intab.name %></strong></span>
                    </div>
                    <p align="center">&nbsp;</p>
                    <div class="col-md-12" style="padding:0;">
                        <div class="col-md-2" style="padding:0;">
                            <img src="/theme/krc/img/cc101h1i1.png">
                        </div>
                        <div class="col-md-9">
                            <div style="background:#f6f6f6; border-radius: 10px; padding: 3% 4%;">
                                <p style="color: #1919A5; font-size: 18px; font-weight: bold;line-height: 1.8;">
                                    교단자정센터는 교단이 정체성을 확립하고, 사부대중에 의한 공동체성을 지키기 위해 교단 개혁방안을 연구하고, 부정부패 예방 및 해결을 위해 노력하는 기관입니다.<br>1999년 재가연대 창립의 이유가 된 98년 총무원 무력점거사태를 기점으로 자정활동은 시작되었습니다.
                                </p>
                            </div>
                            <p align="center">&nbsp;</p>
                            <!--항목 1-->
                                <p style="color:#537795; font-size: 18px; font-weight: bold;margin: 0;">주력활동</p>
                                <div style="border:1px solid #537795; width:100%;"></div>
                                <ul style="padding: 3% 0% 3% 6%;font-size: 16px;font-weight: bold;">
                                    <!--세부1-->
                                    <li>
                                        교단운영이 사회일반 수준의 투명성과 공정성이 확보되도록 전통과 체계를 세우는 정책대안 마련
                                    </li>
                                    <!--세부2-->
                                    <li>
                                        종단, 사찰, 불사관리와 같은 재정문제와 국고보조금등 공적 재원 관련 부패문제 대응
                                    </li>
                                    <!--세부3-->
                                    <li>
                                        교단 사유화 저지 및 무소유와 공동생활이라는 교단 공동체성 확립
                                    </li>
                                </ul>
                            <!--/-->
                            <!--항목 2-->
                                <p style="color:#537795; font-size: 18px; font-weight: bold;margin: 0;">활동영역</p>
                                <div style="border:1px solid #537795; width:100%;"></div>
                                <ul style="padding: 3% 0% 3% 6%;font-size: 16px;font-weight: bold;">
                                    <!--세부1-->
                                    <li>
                                        교단지원사업
                                    </li>
                                    <!--세부2-->
                                    <li>
                                        중앙종회 및 총무원 모니터링 사업
                                    </li>
                                    <!--세부3-->
                                    <li>
                                        자정의 전화 운영(02-2278-3671)
                                    </li>
                                    <!--세부4-->
                                    <li>
                                        종단정책제안
                                    </li>
                                </ul>
                            <!--/-->
                            <!--항목 3-->
                                <p style="color:#537795; font-size: 18px; font-weight: bold;margin: 0;">목적</p>
                                <div style="border:1px solid #537795; width:100%;"></div>
                                <ul style="padding: 3% 0% 3% 6%;font-size: 16px;font-weight: bold;">
                                    <li>
                                        본 센터는 부처님의 가르침을 바탕으로 한 '修行과 廻向의 삶을 지향하는 참사람 공동체' '맑고 향기로운 불교공동체'로서 청정교단의 성취와 민족통일, 인권, 정의, 복지가 실현되는 정토사회 건설을 목적으로 한다.
                                    </li>
                                </ul>
                                
                            <!--/-->
                            <!--항목 4-->
                                <p style="color:#537795; font-size: 18px; font-weight: bold;margin: 0;">진행사업</p>
                                <div style="border:1px solid #537795; width:100%;"></div>
                                <ul style="padding: 3% 0% 3% 6%;font-size: 16px;font-weight: bold;">
                                    <li>
                                        1. 불교교단의 자정지원
                                    </li>
                                    <li>
                                        2. 자정사안의 접수, 상담 및 해결
                                    </li>
                                    <li>
                                        3. 자정의 전화 운영
                                    </li>
                                    <li>
                                        4. 교단 운영 모니터
                                    </li>
                                    <li>
                                        5. 수행환경 개선 지원
                                    </li>
                                </ul>
                            <!--/-->
                        </div>
                    </div>
                    
                    <div style="text-align: center;" align="center"><br></div>
                    <div style="text-align: center;" align="center"><span style="line-height: 1.5;">&nbsp;</span>
                </div>
                
            </div>
            <div class="col-md-1 col-sm-1">
                <%= render :partial => '/board/banner' %>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </div>
        </article>
        <a href="#hd" id="top_btn">상단으로</a>
    </div>
</div>

<!-- 콘텐츠 끝 -->
<!--pc 버전 끝-->