<!--pc 버전 시작-->
<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">교단 자정 센터</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => 'krc/main_navbar' %>
    <hr>
</div>
<!-- } 상단 끝 -->

<hr>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title"><%= @tab.name %></h2>
    </div>
    <div id="container">
        <div id="container_title">.</div>

        <article id="ctt" class="ctt_contact">
            <div id="ctt_con">
                <div class="col-md-3 col-sm-3">
                    <% @tab.intabs.all.order('turn asc').each do |side_intab| %>
                        <% if side_intab.id == @intab.id %>
                        <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menuselect"><%= side_intab.name %></p></span></a>
                        <% else %>
                        <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menu"><%= side_intab.name %></p></span></a>
                        <% end %>
                    <% end %>
                
                &nbsp;
                </div>
                
                <div class="col-md-8 col-sm-8">
                    <div class="intro">
                        <p class="intro_title"><%= @intab.name %></p>
                        <span class="site_navi"><a href="/" style="color: inherit;">Home</a> &gt; <%= @tab.name %> &gt; <strong><%= @intab.name %></strong></span>
                    </div>
                    <p align="center">&nbsp;</p>
                   
                    <div class="col-md-12" style="padding:0;">
                    
                    
                    <div class="col-md-12" id="tabs_container">
                        <ul class="tabs">
                            <li class="active" rel="tab1">2014</li>
                            <li rel="tab2">2015</li>
                            <li rel="tab3">2016</li>
                            <li rel="tab4">2017</li>
                            <li rel="tab5">2018</li>
                            <li rel="tab6">2019</li>
                        </ul>
                        <div class="tab_container">
                            <div id="tab1" class="tab_content">
                               <!--참여불교 재가연대 2014년 내용 시작-->
                                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td class="valignT alignJ">
                                        <div class="yearttl2 clice">2014년</div><br>
                                        <div class="ttlje bor2B borcldim mar10B pad0T">교단자정센터</div>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="mar40B">
                                        <tbody><tr><td class="cellact cldim pad20L">
                                        <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
                                        <tbody>
                                        <!--1월-->
                                        <tr>
                                            <td valign="middle"  style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;">
                                        	        <span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">1 월</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;">
                                        	        <span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                        	</td>
                                        </tr>
                                        <!--1월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                            	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                            	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;">
                                            	    <span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">이수덕 박사</span></p>
                                            	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;">
                                            	    <span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“능엄경에서 배우는 불교의 비전 - 재가연대가 나아갈 길”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 주최 토론회 “남북철도연결과 한반도평화” </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp; <br></span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“남북한 철도의 정책적·기술적 문제점” 발제</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" class="tab_td_85"style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/17(금)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 실무위원회 참가 </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/22(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 토론회 “남북철도관련 전문가초청 좌담회” </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/27(월)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대 확대임원회의 (아카데미, 자정센터 이사 포함)</span></p>
                                        	</td>
                                        </tr>
                                        
                                        <!--2월-->
                                        <tr>
                                    	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">2 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--2월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/06(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/12(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">“</span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">기자회견”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/13(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">제6기 7차 운영위원회</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/15(토)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재한줌머인연대 보이사비 축제(4월5일) 준비모임</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/22(토)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대, 아카데미 정기총회</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/06(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’ 기획회의 참석</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                    	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/26(수)</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">시민사회단체연대회의 총회 참석</span></p>
                                    	</td>
                                        </tr>
                                        
                                        <!--3월-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">3 월</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                        	</td>
                                        </tr>
                                        <!--3월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/04(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">성원용 교수 (인천대학교)</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“러시아의 철도전략과 한반도 주변정세”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/06(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’ 참석</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/18(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">제6기 8차 운영위원회</span></p>
                                        	</td>
                                        </tr>
                                        </tbody></table></td></tr>
                                        </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                               <!--참여불교 재가연대 2014년 내용 끝-->
                            </div>
                            <!-- #tab1 -->
                            <div id="tab2" class="tab_content">
                                <!--참여불교 재가연대 두번째 내용 시작-->
                                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td class="valignT alignJ">
                                        <div class="yearttl2 clice">탭 두번째</div><br>
                                        <div class="ttlje bor2B borcldim mar10B pad0T">교단자정센터</div>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="mar40B">
                                        <tbody><tr><td class="cellact cldim pad20L">
                                        <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
                                        <tbody>
                                        <!--1월-->
                                        <tr>
                                        <td valign="middle"  style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">1 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--1월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">이수덕 박사</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“능엄경에서 배우는 불교의 비전 - 재가연대가 나아갈 길”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 주최 토론회 “남북철도연결과 한반도평화” </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp; <br></span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“남북한 철도의 정책적·기술적 문제점” 발제</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" class="tab_td_85"style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/17(금)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 실무위원회 참가 </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/22(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 토론회 “남북철도관련 전문가초청 좌담회” </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/27(월)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대 확대임원회의 (아카데미, 자정센터 이사 포함)</span></p>
                                        	</td>
                                        </tr>
                                        
                                        <!--2월-->
                                        <tr>
                                    	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">2 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--2월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/06(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/12(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">“</span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">기자회견”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/13(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">제6기 7차 운영위원회</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/15(토)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재한줌머인연대 보이사비 축제(4월5일) 준비모임</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/22(토)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대, 아카데미 정기총회</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/06(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’ 기획회의 참석</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                    	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/26(수)</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">시민사회단체연대회의 총회 참석</span></p>
                                    	</td>
                                        </tr>
                                        
                                        <!--3월-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">3 월</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                        	</td>
                                        </tr>
                                        <!--3월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/04(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">성원용 교수 (인천대학교)</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“러시아의 철도전략과 한반도 주변정세”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/06(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’ 참석</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/18(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">제6기 8차 운영위원회</span></p>
                                        	</td>
                                        </tr>
                                        </tbody></table></td></tr>
                                        </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                               <!--참여불교 재가연대 2014년 내용 끝-->
                            </div>
                            <!-- #tab2 -->
                            <div id="tab3" class="tab_content">
                                <!--참여불교 재가연대 2016년 내용 시작-->
                                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td class="valignT alignJ">
                                        <div class="yearttl2 clice">2016년</div><br>
                                        <div class="ttlje bor2B borcldim mar10B pad0T">교단자정센터</div>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="mar40B">
                                        <tbody><tr><td class="cellact cldim pad20L">
                                        <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
                                        <tbody>
                                        <!--1월-->
                                        <tr>
                                        <td valign="middle"  style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">1 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--1월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">이수덕 박사</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“능엄경에서 배우는 불교의 비전 - 재가연대가 나아갈 길”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 주최 토론회 “남북철도연결과 한반도평화” </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp; <br></span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“남북한 철도의 정책적·기술적 문제점” 발제</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" class="tab_td_85"style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/17(금)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 실무위원회 참가 </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/22(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 토론회 “남북철도관련 전문가초청 좌담회” </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/27(월)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대 확대임원회의 (아카데미, 자정센터 이사 포함)</span></p>
                                        	</td>
                                        </tr>
                                        
                                        <!--2월-->
                                        <tr>
                                    	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">2 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--2월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/06(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/12(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">“</span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">기자회견”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/13(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">제6기 7차 운영위원회</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/15(토)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재한줌머인연대 보이사비 축제(4월5일) 준비모임</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/22(토)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대, 아카데미 정기총회</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/06(목)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’ 기획회의 참석</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                    	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">02/26(수)</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">시민사회단체연대회의 총회 참석</span></p>
                                    	</td>
                                        </tr>
                                        
                                        <!--3월-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">3 월</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                        	</td>
                                        </tr>
                                        <!--3월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/04(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">성원용 교수 (인천대학교)</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“러시아의 철도전략과 한반도 주변정세”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/06(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">‘불교개혁을 위한 타운미팅’ 참석</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">03/18(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">제6기 8차 운영위원회</span></p>
                                        	</td>
                                        </tr>
                                        </tbody></table></td></tr>
                                        </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                               <!--참여불교 재가연대 탭 두번째 내용 끝-->
                            </div>
                            <!-- #tab3 -->
                            
                            
                            <!--테스트 위해 추가 tab4 시작-->
                            <div id="tab4" class="tab_content">
                               <!--참여불교 재가연대 2014년 내용 시작-->
                                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td class="valignT alignJ">
                                        <div class="yearttl2 clice">tab4</div><br>
                                        <div class="ttlje bor2B borcldim mar10B pad0T">교단자정센터</div>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="mar40B">
                                        <tbody><tr><td class="cellact cldim pad20L">
                                        <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
                                        <tbody>
                                        <!--1월-->
                                        <tr>
                                        <td valign="middle"  style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">1 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--1월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">이수덕 박사</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“능엄경에서 배우는 불교의 비전 - 재가연대가 나아갈 길”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 주최 토론회 “남북철도연결과 한반도평화” </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp; <br></span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“남북한 철도의 정책적·기술적 문제점” 발제</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" class="tab_td_85"style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/17(금)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 실무위원회 참가 </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/22(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 토론회 “남북철도관련 전문가초청 좌담회” </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/27(월)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대 확대임원회의 (아카데미, 자정센터 이사 포함)</span></p>
                                        	</td>
                                        </tr>
                                        </tbody></table></td></tr>
                                        </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                               <!--참여불교 재가연대 2014년 내용 끝-->
                            </div>
                            
                            <!--#tab5-->
                            <div id="tab5" class="tab_content">
                               <!--참여불교 재가연대 2014년 내용 시작-->
                                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td class="valignT alignJ">
                                        <div class="yearttl2 clice">tab5</div><br>
                                        <div class="ttlje bor2B borcldim mar10B pad0T">교단자정센터</div>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="mar40B">
                                        <tbody><tr><td class="cellact cldim pad20L">
                                        <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
                                        <tbody>
                                        <!--1월-->
                                        <tr>
                                        <td valign="middle"  style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">1 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--1월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">이수덕 박사</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“능엄경에서 배우는 불교의 비전 - 재가연대가 나아갈 길”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 주최 토론회 “남북철도연결과 한반도평화” </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp; <br></span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“남북한 철도의 정책적·기술적 문제점” 발제</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" class="tab_td_85"style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/17(금)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 실무위원회 참가 </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/22(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 토론회 “남북철도관련 전문가초청 좌담회” </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/27(월)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대 확대임원회의 (아카데미, 자정센터 이사 포함)</span></p>
                                        	</td>
                                        </tr>
                                        </tbody></table></td></tr>
                                        </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                               <!--참여불교 재가연대 2014년 내용 끝-->
                            </div>
                            
                            <!--#tab6-->
                            <div id="tab6" class="tab_content">
                               <!--참여불교 재가연대 2014년 내용 시작-->
                                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td class="valignT alignJ">
                                        <div class="yearttl2 clice">tab6</div><br>
                                        <div class="ttlje bor2B borcldim mar10B pad0T">교단자정센터</div>
                                        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="mar40B">
                                        <tbody><tr><td class="cellact cldim pad20L">
                                        <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;">
                                        <tbody>
                                        <!--1월-->
                                        <tr>
                                        <td valign="middle"  style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0 history_mth" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;font-weight:&quot;bold&quot;;line-height:130%">1 월</span></p>
                                    	</td>
                                    	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                    	    <p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp;</span></p>
                                    	</td>
                                        </tr>
                                        <!--1월 일정-->
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">참여불교 리더스포럼 _ </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">이수덕 박사</span></p>
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“능엄경에서 배우는 불교의 비전 - 재가연대가 나아갈 길”</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/07(화)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:35;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 주최 토론회 “남북철도연결과 한반도평화” </span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">&nbsp; <br></span><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">“남북한 철도의 정책적·기술적 문제점” 발제</span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" class="tab_td_85"style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/17(금)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">원폭피해자및자녀를위한특별법추진연대회의 실무위원회 참가 </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/22(수)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">'한반도평화실천기획단(가칭)' 토론회 “남북철도관련 전문가초청 좌담회” </span></p>
                                        	</td>
                                        </tr>
                                        <tr>
                                        	<td valign="middle" style="width:85;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;text-align:center;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">01/27(월)</span></p>
                                        	</td>
                                        	<td valign="middle" style="width:482;height:20;border-left:none;border-right:none;border-top:none;border-bottom:none;padding:1.4pt 5.1pt 1.4pt 5.1pt">
                                        	<p class="HStyle0" style="margin-left:1.0pt;margin-right:1.0pt;line-height:130%;"><span style="font-size:9.0pt;font-family:&quot;맑은 고딕&quot;;line-height:130%">재가연대 확대임원회의 (아카데미, 자정센터 이사 포함)</span></p>
                                        	</td>
                                        </tr>
                                        </tbody></table></td></tr>
                                        </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                               <!--참여불교 재가연대 2014년 내용 끝-->
                            </div>
                            
                            
                        </div>
                        <!-- .tab_container -->
                    </div>
                    <!-- #container -->
                    
                <script>
                $(function () {
                $(".tab_content").hide();
                $(".tab_content:first").show();
            
                $("ul.tabs li").click(function () {
                    $("ul.tabs li").removeClass("active").css("color", "#333");
                    //$(this).addClass("active").css({"color": "darkred","font-weight": "bolder"});
                    $(this).addClass("active").css("color", "darkred");
                    $(".tab_content").hide()
                    var activeTab = $(this).attr("rel");
                    $("#" + activeTab).fadeIn()
                });
            });
                </script>

                    
                  
                    </div>
                    <div style="text-align: center;" align="center"><br></div>
                    <div style="text-align: center;" align="center"><span style="line-height: 1.5;">&nbsp;</span></div>
                
                </div>
            <div class="col-md-1 col-sm-1">
                <%= render :partial => '/board/banner' %>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </div>
        </article>
        <a href="#hd" id="top_btn">상단으로</a>
    </div>
</div>

<!-- 콘텐츠 끝 -->
<!--pc 버전 끝-->



<!--모바일 버전 시작-->
<%= render :partial => '/krc/mobile_navbar' %>

<!--모바일 버전 끝-->

<!-- 하단 시작 { -->
    <%= render :partial => 'krc/footer' %>
<!--  하단 끝 -->