<!--바디 스크립트 시작-->
<body onload="InitializeM();">
<!--바디 스크립트 끝-->

<!--pc 버전 시작-->
<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">교단 자정 센터</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => '/krc/main_navbar' %>
    <hr>
</div>
<!-- 상단 끝 -->

<hr>


<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title"><%= @tab.name %></h2>
    </div>
    <div id="container">
        <div id="container_title">.</div>
        <article id="ctt" class="ctt_contact">
            <div id="ctt_con">
                <div class="col-md-3 col-sm-3">
                    <% @tab.intabs.all.order('turn asc').each do |side_intab| %>
                        <% if side_intab.id == @intab.id %>
                        <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menuselect"><%= side_intab.name %></p></span></a>
                        <% else %>
                        <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menu"><%= side_intab.name %></p></span></a>
                        <% end %>
                    <% end %>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="intro">
                        <p class="intro_title"><%= @intab.name %></p>
                        <span class="site_navi"><a href="/" style="color: inherit;">Home</a> &gt; <%= @tab.name %> &gt; <strong><%= @intab.name %></strong></span>
                    </div>
                    <div style="text-align: center; " align="center">
                        <p style="text-align: center; " align="center">&nbsp;</p>
                        <!--<img src="/theme/krc/img/tree.png" style="width:100%"/>-->
                        <img src="<%= Family.where(turn: -1).first.name %>" style="width:100%"/>
                        <p style="text-align: center; " align="center">&nbsp;</p>
                    </div>
                    <dl class="map_info">
                        <%  %>
                        <% 
                           ree = []
                           Family.all.order('turn asc').each do |ff| 
                            ree << ff.role
                           end 
                           ree = ree.uniq
                        %>
                        <% ree.each do |f| %>
                            <dt style="font-size:18px;"><%= f %></dt>
                            <dd>
                                <% Family.where(role: f).order('turn asc').each do |fg| %>
                                    <% next if f.to_s.length == 0 %>
                                    <br><span style="font-size:17px;"> ▶ <%= fg.name %><%= " : " + fg.content.to_s if fg.content.to_s.length != 0 %></span><br>
                                <% end %>
                            </dd>
                        <% end %>
                        <dt style="font-size:18px;">후원회원</dt>
                        <dd><br><span style="font-size:17px;">
                            <% User.where("mb_open >= 3 AND mb_open < 5").each do |d| %>
                                <%= d.username %>(<%= d.email %>) &nbsp&nbsp&nbsp 
                            <% end %></span>
                        </dd>
                    </dl>
                    
                    <p style="text-align: center; " align="center">&nbsp;</p>
                </div>
                <div class="col-md-1 col-sm-1">
                    <%= render :partial => '/board/banner' %>
                </div>
            </div>
    </div>
        
        </article>
        <a href="#hd" id="top_btn">상단으로</a>
    </div>
</div>

<!-- } 콘텐츠 끝 -->
<!--pc 버전 끝-->


<!--모바일 버전 시작-->
<%= render :partial => '/krc/mobile_navbar' %>
<div id="mobile_container">
    <div id="mobile_container_title">자정센터 가족들</div>
        <article id="mobile_ctt" class="mobile_ctt_contact">
            <header>
                <h1>자정센터가족들</h1>
            </header>
        
            <div class="col-md-12 col-sm-12">
                    <p align="center">&nbsp;</p>
                    <div class="col-md-12" style="padding:0;">
                        <div class="col-sm-10">
                           <img src="/data/org21_3.png" style="width:100%;" />
                           <dl class="map_info">
                        <%  %>
                        <% 
                           ree = []
                           Family.all.order('turn asc').each do |ff| 
                            ree << ff.role
                           end 
                           ree = ree.uniq
                        %>
                        <% ree.each do |f| %>
                            <dt style="font-size:18px;"><%= f %></dt>
                            <dd>
                                <% Family.where(role: f).order('turn asc').each do |fg| %>
                                    <% next if f.to_s.length == 0 %>
                                    <br><span style="font-size:17px;"> ▶ <%= fg.name %><%= " : " + fg.content.to_s if fg.content.to_s.length != 0 %></span><br>
                                <% end %>
                            </dd>
                        <% end %>
                        <dt style="font-size:18px;">후원회원</dt>
                        <dd><br><span style="font-size:17px;">
                            <% User.where("mb_open >= 3 AND mb_open < 5").each do |d| %>
                                <%= d.username %>(<%= d.email %>) &nbsp&nbsp&nbsp 
                            <% end %></span>
                        </dd>
                    </dl>
                           
                         
                        </div>
                    </div>
                    
                    <div style="text-align: center;" align="center"><br></div>
                    <div style="text-align: center;" align="center"><span style="line-height: 1.5;">&nbsp;</span>
                </div>
                
            </div>
        
        </article>
</div>
<!--모바일 버전 끝-->


<!-- 하단 시작 { -->
    <%= render :partial => '/krc/footer' %>
<!-- } 하단 끝 -->

</body>