<!-- pc 버전 시작 -->
<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">교단 자정 센터</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => '/krc/main_navbar' %>
    <hr>
</div>
<!-- } 상단 끝 -->

<hr>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title"><%= @tab.name %></h2>
    </div>
    <div id="container">
        <div id="container_title">.</div>
        <article id="ctt" class="ctt_contact">
            <div id="ctt_con">
                <div class="col-md-3 col-sm-3">
                    <% @tab.intabs.all.order('turn asc').each do |side_intab| %>
                        <% unless side_intab.templete == 'open_board' %>
                            <% if side_intab.id == @intab.id %>
                            <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menuselect"><%= side_intab.name %></p></span></a>
                            <% else %>
                            <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menu"><%= side_intab.name %></p></span></a>
                            <% end %>
                        <% else %>
                            <a href="/board/page/<%= side_intab.id %>"><span><p class="ctt_con_menu_home"><%= side_intab.name %></p></span></a>
                        <% end %>
                    <% end %>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="intro">
                        <p class="intro_title"><%= @intab.name %></p>
                        <span class="site_navi"><a href="/" style="color: inherit;">Home</a> &gt; <%= @tab.name %> &gt; <strong><%= @intab.name %></strong></span>
                    </div>
                    <!-- 게시판 카테고리 시작 { -->
                    <!-- } 게시판 카테고리 끝 -->
                
                    
                    <article id="bo_v" style="width:100%">
                        <header>
                            <h1 id="bo_v_title"><%= @post.title %></h1>
                        </header>
                        <div id="bo_v_if">
                            <section id="bo_v_info">
                                <h2>페이지 정보</h2>
                                작성자<strong>
                                    <% if @post.anonymous == true %>
                                        <span class="sv_member"><%= "익명의 글쓴이" %></span>
                                    <% else %>
                                        <span class="sv_member"><%= User.find(@post.author_id).nickname %></span>
                                    <% end %>
                                    </strong>
                                <span class="sound_only">작성일</span><strong><%= Time.parse(@post.created_at.to_s).to_s.first(16).last(14) %></strong>
                                <span class="if_r">조회<strong><%= @post.view_count_posts.count %>회</strong>
                                댓글<strong><%= @post.replies.count %>건</strong></span>
                            </section>
                            <!-- 관련링크 시작 { -->
                                <section id="bo_v_link">
                                <h2>관련링크</h2>
                                <ul></ul>
                                </section>
                            <!-- } 관련링크 끝 -->
                            </div>
                        
                        <!-- 게시물 상단 버튼 시작 { -->
                        <!--<div id="bo_v_top">-->
                        <!--    <ul class="bo_v_nb">-->
                        <!--        <li><a href="./board.php?bo_table=notice&amp;wr_id=6" class="btn_b01">다음글</a></li>-->
                        <!--    </ul>-->
                        <!--    <ul class="bo_v_com">-->
                        <!--        <li><a href="./board.php?bo_table=notice&amp;page=" class="btn_b01">목록</a></li>-->
                        <!--    </ul>-->
                        <!--</div>-->
                        <!-- } 게시물 상단 버튼 끝 -->
                    
                        <section id="bo_v_atc">
                            <h2 id="bo_v_atc_title">본문</h2>
                            <div id="bo_v_img"></div>
                            
                            <!-- 본문 내용 시작 { -->
                            <!--<div id="bo_v_con"><pre style="background: none; border: none;"><%= @post.ir1 %></pre></div>-->
                            <% if @post.author_id == 1 %>
                                <div id="bo_v_con"><pre style="background:#fff; border:none;"><%= @post.ir1.html_safe %></pre></div>
                            <% else %>
                                <% content = @post.ir1.html_safe %>
                                <div id="bo_v_con"><%= content %></div>
                            <% end %>
                            <!-- } 본문 내용 끝 -->
                            <!-- 스크랩 추천 비추천 시작 { -->
                            <!-- } 스크랩 추천 비추천 끝 -->
                        </section>
                    
                        
                        
                    <script>
                    // 글자수 제한
                    var char_min = parseInt(0); // 최소
                    var char_max = parseInt(0); // 최대
                    </script>
                    
                    <!-- 댓글 시작 { -->
                    <% if @post.replies.count != 0 %>
                        <section style="margin-bottom:20px;"></section>
                    <% end %>
                    <% @post.replies.all.each do |reply| %>
                        <% if user_signed_in? %>
                            <% if reply.visible == false && reply.author_id != current_user.id %>
                            <!--비밀글이면서 내가쓰지 않은 글은 보이지 않는다-->
                            <section id="bo_vc">
                                <h2>댓글목록</h2>
                                <article id="c_10">
                                    <header style="z-index:2">
                                        <% if current_user.mb_open >= 9 %>
                                        <h1>Re : <%= "익명" %>(<%= reply.author_name %>) 님의 댓글</h1>
                                        <span class="guest">Re : <%= "익명" %>(<%= reply.author_name %>) 님의 댓글</span>                                    작성일
                                        <% else %>
                                        <h1>Re : <%= "익명" %> 님의 댓글</h1>
                                        <span class="guest">Re : <%= "익명" %> 님의 댓글</span>                                    작성일
                                        <% end %>
                                        <span class="bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <% if current_user.mb_open >= 9 %>
                                    <pre style="background:none; border:none; margin:0;">(비밀댓글이 설정되어 있습니다.)<%= reply.content %></pre>
                                    <% else %>
                                    <pre style="background:none; border:none; margin:0;"><%= "비밀댓글의 열람 대상자가 아닙니다." %></pre>
                                    <% end %>
                                    <span id="edit_10"></span><!-- 수정 -->
                                    <span id="reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%#= reply.content %></textarea>
                                    
                                    <footer>
                                        <ul class="bo_vc_act">
                                            <% if current_user.mb_open >= 9 %>
                                            <li><a href="/board/reply_save" onclick="comment_box('10', 'c'); return false;">답변</a></li>
                                            <li><a href="/board/reply_delete/<%= reply.id %>?post_id=<%= @post.id %>" onclick="return comment_delete();">삭제</a></li>
                                            <% else %>
                                            <% end %>
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% else %>
                            <!--다른 경우는 정상적으로 보인다-->
                            <section id="bo_vc">
                                <h2>댓글목록</h2>
                                <article id="c_10">
                                    <header style="z-index:2">
                                        <h1>Re : <%= reply.author_name %> 님의 댓글</h1>
                                        <span class="guest">Re : <%= reply.author_name %> 님의 댓글</span>                                    작성일
                                        <span class="bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                                    
                                    <!-- 댓글 출력 -->
                                    <pre style="background:none; border:none; margin:0;"><%= reply.content %></pre>
                                    <span id="edit_10"></span><!-- 수정 -->
                                    <span id="reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%= reply.content %></textarea>
                                    
                                    <footer>
                                        <ul class="bo_vc_act">
                                            <% if reply.author_id != current_user.id %>
                                            <li><a href="#" onclick="comment_box('10', 'c'); return false;">답변</a></li>
                                                <% if current_user.mb_open >= 9 %>
                                                <li><a href="/board/reply_delete/<%= reply.id %>?post_id=<%= @post.id %>" onclick="return comment_delete();">삭제</a></li>
                                                <% end %>
                                            <% else %>
                                                <li><a href="/board/reply_delete/<%= reply.id %>?post_id=<%= @post.id %>" onclick="return comment_delete();">삭제</a></li>
                                            <% end %>
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% end %>
                        <% else %>
                            <% if reply.visible == false %>
                            <section id="bo_vc">
                                <h2>댓글목록</h2>
                                <article id="c_10">
                                    <header style="z-index:2">
                                        <h1>Re : <%= "익명" %> 님의 댓글</h1>
                                        <span class="guest">Re : <%= "익명" %> 님의 댓글</span>                                    작성일
                                        <span class="bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <pre style="background:none; border:none; margin:0;"><%= "비밀댓글의 열람 대상자가 아닙니다." %></pre>
                                    <span id="edit_10"></span><!-- 수정 -->
                                    <span id="reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%#= reply.content %></textarea>
                                    
                                    <footer>
                                        <ul class="bo_vc_act">
                                            <!--<li><a href="#" onclick="comment_box('10', 'c'); return false;">답변</a></li>-->
                                            <!--<li><a href="#" onclick="return comment_delete();">삭제</a></li>-->
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% else %>
                            <section id="bo_vc">
                                <h2>댓글목록</h2>
                                <article id="c_10">
                                    <header style="z-index:2">
                                        <h1>Re : <%= reply.author_name %> 님의 댓글</h1>
                                        <span class="guest">Re : <%= reply.author_name %> 님의 댓글</span>                                    작성일
                                        <span class="bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <pre style="background:none; border:none; margin:0;"><%#= reply.content %>로그인하신 후 댓글을 열람하실 수 있습니다.</pre>
                                    <span id="edit_10"></span><!-- 수정 -->
                                    <span id="reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%#= reply.content %>로그인하신 후 댓글을 열람하실 수 있습니다.</textarea>
                                    
                                    <footer>
                                        <ul class="bo_vc_act">
                                            <!--<li><a href="./board.php?bo_table=notice&amp;wr_id=7&amp;c_id=10&amp;w=c#bo_vc_w" onclick="comment_box('10', 'c'); return false;">답변</a></li>-->
                                            <!--<li><a href="./password.php?w=x&amp;bo_table=notice&amp;comment_id=10&amp;page=" onclick="return comment_delete();">삭제</a></li>-->
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% end %>
                        <% end %>
                    <% end %>
                    <!-- } 댓글 끝 -->
                    
                    <!-- 댓글 쓰기 시작 { -->
                    <aside id="bo_vc_w">
                        <h2>댓글쓰기</h2>
                        <form name="fviewcomment" action="/board/reply_save" onsubmit="return fviewcomment_submit(this);" method="post" autocomplete="off">
                            <input type="hidden" name="post_id" value="<%= params[:id] %>">
                            <% if params[:reply_id] != nil %>
                                <input type="hidden" name="reply_id" value="<%= params[:reply_id]%>">
                            <% end %>
                            <!--<input type="hidden" name="wr_id" value="7">-->
                            <!--<input type="hidden" name="comment_id" value="" id="comment_id">-->
                            <!--<input type="hidden" name="sca" value="">-->
                            <!--<input type="hidden" name="sfl" value="">-->
                            <!--<input type="hidden" name="stx" value="">-->
                            <!--<input type="hidden" name="spt" value="">-->
                            <!--<input type="hidden" name="page" value="">-->
                            <!--<input type="hidden" name="is_good" value="">-->
                    
                        <div class="tbl_wrap tbl_cmt">
                            <table>
                            <tbody>
                                <% if current_user.nil? %>
                                <tr>
                                    <input type="hidden" name="author_id" value="00" id="author_id" required="" class="frm_input required" size="5" maxlength="20">
                                    <th scope="row"><label for="author_name">이름<strong class="sound_only">필수</strong></label></th>
                                    <td><input type="text" name="author_name" value="" id="author_name" required="" class="frm_input required" size="5" maxlength="20"></td>
                                    <th scope="row"><label for="author_passwd">비밀번호<strong class="sound_only"> 필수</strong></label></th>
                                    <td><input type="password" name="author_passwd" id="author_passwd" required="" class="frm_input required" size="10" maxlength="20"></td>
                                        <!--<th scope="row">자동등록방지</th>-->
                                        <!--<td>-->
                                        <!--<script>-->
                                        <!--    var g5_captcha_url  = "http://theme.sir.kr/gnuboard5/plugin/kcaptcha";-->
                                        <!--</script>-->
                                        
                                        <!--<script src="http://theme.sir.kr/gnuboard5/plugin/kcaptcha/kcaptcha.js"></script>-->
                            
                                        <!--<fieldset id="captcha" class="_comment">-->
                                        <!--<legend><label for="captcha_key">자동등록방지</label></legend>-->
                                        <!--<img src="http://theme.sir.kr/gnuboard5/plugin/kcaptcha/kcaptcha_image.php?t=1456430385425" alt="" id="captcha_img">-->
                                        <!--<button type="button" id="captcha_mp3"><span></span>숫자음성듣기</button>-->
                                        <!--<button type="button" id="captcha_reload"><span></span>새로고침</button><input type="text" name="captcha_key" id="captcha_key" required="" class="captcha_box required" size="6" maxlength="6">-->
                                        <!--<span id="captcha_info">자동등록방지 숫자를 순서대로 입력하세요.</span>-->
                                        <!--</fieldset>-->
                                        <!--</td>-->
                                </tr>
                                <% else %>
                                    <input type="hidden" name="author_id" value="<%= current_user.id %>" id="author_id" required="" class="frm_input required" size="5" maxlength="20">
                                    <input type="hidden" name="author_name" value="<%= current_user.username %>" id="author_name" required="" class="frm_input required" size="5" maxlength="20">
                                    <input type="hidden" name="author_passwd" value="<%= current_user.encrypted_password %>" id="author_passwd" required class="frm_input required" size="10" maxlength="20">
                                <% end %>
                                <tr>
                                    <th scope="row">내용</th>
                                    <td colspan="5">
                                        <textarea id="content" name="content" maxlength="10000" required="" class="required" title="내용"></textarea>
                                        <div class="cmt_scr"><input type="checkbox" name="visible" value="false" id="visible"><label for="visible">비밀글사용</label></div>
                                        <div class="btn_confirm" style="margin:0;">
                                            <input type="submit" id="btn_submit" class="btn_submit" value="댓글등록">
                                        </div>
                                        <script>
                                        $(document).on("keyup change", "textarea#wr_content[maxlength]", function() {
                                            var str = $(this).val()
                                            var mx = parseInt($(this).attr("maxlength"))
                                            if (str.length > mx) {
                                                $(this).val(str.substr(0, mx));
                                                return false;
                                            }
                                        });
                                        </script>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </form>
                    </aside>
                    
                    <script>
                    var save_before = '';
                    var save_html = document.getElementById('bo_vc_w').innerHTML;
                    
                    function good_and_write()
                    {
                        var f = document.fviewcomment;
                        if (fviewcomment_submit(f)) {
                            f.is_good.value = 1;
                            f.submit();
                        } else {
                            f.is_good.value = 0;
                        }
                    }
                    
                    function fviewcomment_submit(f)
                    {
                        var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자
                    
                        f.is_good.value = 0;
                    
                        var subject = "";
                        var content = "";
                        $.ajax({
                            url: g5_bbs_url+"/ajax.filter.php",
                            type: "POST",
                            data: {
                                "subject": "",
                                "content": f.wr_content.value
                            },
                            dataType: "json",
                            async: false,
                            cache: false,
                            success: function(data, textStatus) {
                                subject = data.subject;
                                content = data.content;
                            }
                        });
                    
                        if (content) {
                            alert("내용에 금지단어('"+content+"')가 포함되어있습니다");
                            f.wr_content.focus();
                            return false;
                        }
                    
                        // 양쪽 공백 없애기
                        var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자
                        document.getElementById('wr_content').value = document.getElementById('wr_content').value.replace(pattern, "");
                        if (char_min > 0 || char_max > 0)
                        {
                            check_byte('wr_content', 'char_count');
                            var cnt = parseInt(document.getElementById('char_count').innerHTML);
                            if (char_min > 0 && char_min > cnt)
                            {
                                alert("댓글은 "+char_min+"글자 이상 쓰셔야 합니다.");
                                return false;
                            } else if (char_max > 0 && char_max < cnt)
                            {
                                alert("댓글은 "+char_max+"글자 이하로 쓰셔야 합니다.");
                                return false;
                            }
                        }
                        else if (!document.getElementById('wr_content').value)
                        {
                            alert("댓글을 입력하여 주십시오.");
                            return false;
                        }
                    
                        if (typeof(f.wr_name) != 'undefined')
                        {
                            f.wr_name.value = f.wr_name.value.replace(pattern, "");
                            if (f.wr_name.value == '')
                            {
                                alert('이름이 입력되지 않았습니다.');
                                f.wr_name.focus();
                                return false;
                            }
                        }
                    
                        if (typeof(f.wr_password) != 'undefined')
                        {
                            f.wr_password.value = f.wr_password.value.replace(pattern, "");
                            if (f.wr_password.value == '')
                            {
                                alert('비밀번호가 입력되지 않았습니다.');
                                f.wr_password.focus();
                                return false;
                            }
                        }
                    
                        if (!chk_captcha()) return false;
                    
                        document.getElementById("btn_submit").disabled = "disabled";
                    
                        return true;
                    }
                    
                    function comment_box(comment_id, work)
                    {
                        var el_id;
                        // 댓글 아이디가 넘어오면 답변, 수정
                        if (comment_id)
                        {
                            if (work == 'c')
                                el_id = 'reply_' + comment_id;
                            else
                                el_id = 'edit_' + comment_id;
                        }
                        else
                            el_id = 'bo_vc_w';
                    
                        if (save_before != el_id)
                        {
                            if (save_before)
                            {
                                document.getElementById(save_before).style.display = 'none';
                                document.getElementById(save_before).innerHTML = '';
                            }
                    
                            document.getElementById(el_id).style.display = '';
                            document.getElementById(el_id).innerHTML = save_html;
                            // 댓글 수정
                            if (work == 'cu')
                            {
                                document.getElementById('wr_content').value = document.getElementById('save_comment_' + comment_id).value;
                                if (typeof char_count != 'undefined')
                                    check_byte('wr_content', 'char_count');
                                if (document.getElementById('secret_comment_'+comment_id).value)
                                    document.getElementById('wr_secret').checked = true;
                                else
                                    document.getElementById('wr_secret').checked = false;
                            }
                    
                            document.getElementById('comment_id').value = comment_id;
                            document.getElementById('w').value = work;
                    
                            if(save_before)
                                $("#captcha_reload").trigger("click");
                    
                            save_before = el_id;
                        }
                    }
                    
                    function comment_delete()
                    {
                        return confirm("이 댓글을 삭제하시겠습니까?");
                    }
                    
                    comment_box('', 'c'); // 댓글 입력폼이 보이도록 처리하기위해서 추가 (root님)
                    
                    </script>
                    <!-- } 댓글 쓰기 끝 --><script src="/theme/krc/js/md5.js"></script>
                    
                    <!-- 링크 버튼 시작 { -->
                    <div id="bo_v_bot">
                        <% 
                            pn = 0
                            loop do
                                pnp = @ppp[pn]
                                break if pnp == @post.id
                                break if pn == @ppp.count + 1
                                pn += 1
                            end
                            next_post = pn+1
                            before_post = pn-1
                        %>
                        <% unless pn < 1 %>
                        <ul class="bo_v_nb">
                            <li><a href="/board/post_read/<%= @ppp[pn-1]%>" class="btn_b01">이전글</a></li>
                        </ul>
                        <% end %>
                        <% if @ppp[pn+1] != nil %>
                        <ul class="bo_v_nb">
                            <li><a href="/board/post_read/<%= @ppp[pn+1]%>" class="btn_b01">다음글</a></li>
                        </ul>
                        <% end %>
                        <ul class="bo_v_com">
                            <li><a href="/board/page/<%= @intab.id %>?pg=<%= @pg %>" class="btn_b01">목록</a></li>
                        </ul>
                        <% if @post.author_id == nil %>
                            <% if user_signed_in? %>
                                <% if current_user.mb_open >= 9 %>
                                    <!--삭제 수정 버튼 보임-->
                                    <ul class="bo_v_com">
                                        <li><a href="#" class="btn_b01">수정</a></li>
                                    </ul>
                                    <ul class="bo_v_com">
                                        <li><a href="#" data-toggle="modal" data-target="#delete_confirm" class="btn_b01">삭제</a></li>
                                    </ul>
                                    
                                    
                                      <div class="modal fade" id="delete_confirm" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <h4 class="modal-title" id="gridSystemModalLabel">정말 삭제합니까?</h4>
                                            </div>
                                            <form action="/board/post_delete/<%= @post.id %>" method="post">
                                            <div class="modal-body">
                                              <div class="container-fluid">
                                                <center>
                                                    <h4>게시글 삭제를 위해<br>비밀번호를 입력해주세요</h4>
                                                    <input type="password" name="passwd">
                                                    <input type="hidden" name="intab_id" value="<%= @intab.id %>">
                                                </center>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                              <input type="submit" class="btn btn-primary" value="삭제">
                                            </div>
                                            </form>
                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                      </div><!-- /.modal -->
                                <% else %>
                                    <!--삭제 수정 버튼 안보임-->
                                <% end %>
                            <% else %>
                                <!--삭제 수정 버튼 안보임-->
                            <% end %>
                        <% else %>
                            <% if user_signed_in? %>
                                <% if @post.author_id == current_user.id %>
                                    <ul class="bo_v_com">
                                        <li><a href="#" class="btn_b01">수정</a></li>
                                    </ul>
                                    <ul class="bo_v_com">
                                        <li><a href="#" data-toggle="modal" data-target="#delete_confirm" class="btn_b01">삭제</a></li>
                                    </ul>
                                    
                                    
                                      <div class="modal fade" id="delete_confirm" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <h4 class="modal-title" id="gridSystemModalLabel">정말 삭제합니까?</h4>
                                            </div>
                                            <form action="/board/post_delete/<%= @post.id %>" method="post">
                                            <div class="modal-body">
                                              <div class="container-fluid">
                                                <center>
                                                    <h4>게시글 삭제를 위해<br>비밀번호를 입력해주세요</h4>
                                                    <input type="password" name="passwd">
                                                    <input type="hidden" name="intab_id" value="<%= @intab.id %>">
                                                </center>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                              <input type="submit" class="btn btn-primary" value="삭제">
                                            </div>
                                            </form>
                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                      </div><!-- /.modal -->
                                <% elsif %>
                                    <!--관리자는 삭제-수정 버튼 보임-->
                                    <ul class="bo_v_com">
                                        <li><a href="#" class="btn_b01">수정</a></li>
                                    </ul>
                                    <ul class="bo_v_com">
                                        <li><a href="#" data-toggle="modal" data-target="#delete_confirm" class="btn_b01">삭제</a></li>
                                    </ul>
                                    
                                    
                                      <div class="modal fade" id="delete_confirm" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <h4 class="modal-title" id="gridSystemModalLabel">정말 삭제합니까?</h4>
                                            </div>
                                            <form action="/board/post_delete/<%= @post.id %>" method="post">
                                            <div class="modal-body">
                                              <div class="container-fluid">
                                                <center>
                                                    <h4>게시글 삭제를 위해<br>비밀번호를 입력해주세요</h4>
                                                    <input type="password" name="passwd">
                                                    <input type="hidden" name="intab_id" value="<%= @intab.id %>">
                                                </center>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                              <input type="submit" class="btn btn-primary" value="삭제">
                                            </div>
                                            </form>
                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                      </div><!-- /.modal -->
                                <% else %>
                                    <!--내가 쓴 게시물이 아니면 삭제-수정 버튼 안보임-->
                                <% end %>
                            <% else %>
                                <!--로그인되어있지 않으면 그냥 삭제-수정 버튼 안보임-->
                            <% end %>
                        <% end %>
                    </div>
                    <!-- } 링크 버튼 끝 -->
                    
                    </article>
                    <a href="#hd" id="top_btn">상단으로</a>
                </div>
                <div class="col-md-1 col-sm-1">
                    <%= render :partial => '/board/banner' %>
                </div>
            </div>
        </article>
    </div>
</div>

<!-- } 콘텐츠 끝 -->
<!-- pc 버전 끝 -->

<hr>


<!-- 모바일 버전 시작 -->
<%= render :partial => '/krc/mobile_navbar' %>
<article id="mobile_bo_v" style="width:100%">
    <header>
        <h1 id="mobile_bo_v_title"><%= @post.title %></h1>
    </header>
    <section id="mobile_bo_v_info">
        <h2>페이지 정보</h2>
        작성자 <strong>
            <% if @post.anonymous == true %>
                <span class="sv_member"><%= "익명의 글쓴이" %></span>
            <% else %>
                <span class="sv_member"><%= @post.author_name %></span>
            <% end %>
            </strong>
        <span class="sound_only">작성일</span><strong><%= Time.parse(@post.created_at.to_s).to_s.first(16).last(14) %></strong>
        조회<strong><%= @post.view_count_posts.count %>회</strong>
        댓글<strong><%= @post.replies.count %>건</strong>
    </section>
    <section id="mobile_bo_v_link">
        <h2>관련링크</h2>
        <ul></ul>
    </section>

    <section id="mobile_bo_v_atc">
        <h2 id="mobile_bo_v_atc_title">본문</h2>
        <div id="mobile_bo_v_img"></div>
        <!--<div id="mobile_bo_v_con"><p>테마 공지사항 테스트글입니다&nbsp;</p></div>-->
        <% if @post.author_id == 1 %>
            <div id="mobile_bo_v_con"><pre style="background:#fff; border:none;"><%= @post.ir1.html_safe %></pre></div>
        <% else %>
            <% content = @post.ir1.html_safe %>
            <div id="mobile_bo_v_con"><%= content %></div>
        <% end %>
    </section>

    
<script>
// 글자수 제한
var char_min = parseInt(0); // 최소
var char_max = parseInt(0); // 최대
</script>

<!-- 댓글 리스트 -->
                    <% if @post.replies.count != 0 %>
                        <section style="margin-bottom:20px;"></section>
                    <% end %>
                    <% @post.replies.all.each do |reply| %>
                        <% if user_signed_in? %>
                            <% if reply.visible == false && reply.author_id != current_user.id %>
                            <!--비밀글이면서 내가쓰지 않은 글은 보이지 않는다-->
                            <section id="mobile_bo_vc">
                                <article id="mobile_c_10">
                                    <header style="z-index:2">
                                        <% if current_user.mb_open >= 9 %>
                                        <h1>Re : <%= "익명" %>(<%= reply.author_name %>) 님의 댓글</h1>
                                        <span class="mobile_guest">Re : <%= "익명" %>(<%= reply.author_name %>) 님의 댓글</span>                                    작성일
                                        <% else %>
                                        <h1>Re : <%= "익명" %> 님의 댓글</h1>
                                        <span class="mobile_guest">Re : <%= "익명" %> 님의 댓글</span>                                    작성일
                                        <% end %>
                                        <span class="mobile_bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <% if current_user.mb_open >= 9 %>
                                    <pre style="background:none; border:none; margin:0;">(비밀댓글이 설정되어 있습니다.)<%= reply.content %></pre>
                                    <% else %>
                                    <pre style="background:none; border:none; margin:0;"><%= "비밀댓글의 열람 대상자가 아닙니다." %></pre>
                                    <% end %>
                                    <span id="mobile_edit_10"></span><!-- 수정 -->
                                    <span id="mobile_reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%#= reply.content %></textarea>
                                    
                                    <footer>
                                        <ul class="mobile_bo_vc_act">
                                            <% if current_user.mb_open >= 9 %>
                                            <li><a href="/board/reply_save" onclick="comment_box('10', 'c'); return false;">답변</a></li>
                                            <li><a href="/board/reply_delete/<%= reply.id %>?post_id=<%= @post.id %>" onclick="return comment_delete();">삭제</a></li>
                                            <% else %>
                                            <% end %>
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% else %>
                            <!--다른 경우는 정상적으로 보인다-->
                            <section id="mobile_bo_vc">
                                <article id="mobile_c_10">
                                    <header style="z-index:2">
                                        <h1>Re : <%= reply.author_name %> 님의 댓글</h1>
                                        <span class="mobile_guest">Re : <%= reply.author_name %> 님의 댓글</span>                                    작성일
                                        <span class="mobile_bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <pre style="background:none; border:none; margin:0;"><%= reply.content %></pre>
                                    <span id="mobile_edit_10"></span><!-- 수정 -->
                                    <span id="mobile_reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%= reply.content %></textarea>
                                    
                                    <footer>
                                        <ul class="mobile_bo_vc_act">
                                            <% if reply.author_id != current_user.id %>
                                            <li><a href="#" onclick="comment_box('10', 'c'); return false;">답변</a></li>
                                                <% if current_user.mb_open >= 9 %>
                                                <li><a href="/board/reply_delete/<%= reply.id %>?post_id=<%= @post.id %>" onclick="return comment_delete();">삭제</a></li>
                                                <% end %>
                                            <% else %>
                                                <li><a href="/board/reply_delete/<%= reply.id %>?post_id=<%= @post.id %>" onclick="return comment_delete();">삭제</a></li>
                                            <% end %>
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% end %>
                        <% else %>
                            <% if reply.visible == false %>
                            <section id="mobile_bo_vc">
                                <article id="mobile_c_10">
                                    <header style="z-index:2">
                                        <h1>Re : <%= "익명" %> 님의 댓글</h1>
                                        <span class="mobile_guest">Re : <%= "익명" %> 님의 댓글</span>                                    작성일
                                        <span class="mobile_bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <pre style="background:none; border:none; margin:0;"><%= "비밀댓글의 열람 대상자가 아닙니다." %></pre>
                                    <span id="mobile_edit_10"></span><!-- 수정 -->
                                    <span id="mobile_reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%#= reply.content %></textarea>
                                    
                                    <footer>
                                        <ul class="mobile_bo_vc_atc">
                                            <!--<li><a href="#" onclick="comment_box('10', 'c'); return false;">답변</a></li>-->
                                            <!--<li><a href="#" onclick="return comment_delete();">삭제</a></li>-->
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% else %>
                            <section id="mobile_bo_vc">
                                <article id="mobile_c_10">
                                    <header style="z-index:2">
                                        <h1>Re : <%= reply.author_name %> 님의 댓글</h1>
                                        <span class="mobile_guest">Re : <%= reply.author_name %> 님의 댓글</span>                                    작성일
                                        <span class="mobile_bo_vc_hdinfo"><time datetime="<%= reply.created_at.to_s %>"><%= Time.parse(reply.created_at.to_s).to_s.first(16).last(14) %></time></span>
                                    </header>
                            
                                    <!-- 댓글 출력 -->
                                    <pre style="background:none; border:none; margin:0;"><%#= reply.content %>로그인하신 후 댓글을 열람하실 수 있습니다.</pre>
                                    <span id="mobile_edit_10"></span><!-- 수정 -->
                                    <span id="mobile_reply_10"></span><!-- 답변 -->
                                    <input type="hidden" value="" id="secret_comment_10">
                                    <textarea id="save_comment_10" style="display:none"><%#= reply.content %>로그인하신 후 댓글을 열람하실 수 있습니다.</textarea>
                                    
                                    <footer>
                                        <ul class="mobile_bo_vc_act">
                                            <!--<li><a href="./board.php?bo_table=notice&amp;wr_id=7&amp;c_id=10&amp;w=c#bo_vc_w" onclick="comment_box('10', 'c'); return false;">답변</a></li>-->
                                            <!--<li><a href="./password.php?w=x&amp;bo_table=notice&amp;comment_id=10&amp;page=" onclick="return comment_delete();">삭제</a></li>-->
                                        </ul>
                                    </footer>
                                </article>
                            </section>
                            <% end %>
                        <% end %>
                    <% end %>
<!--<section id="mobile_bo_vc">-->
<!--    <h2>댓글목록</h2>-->
<!--        <article id="mobile_c_10">-->
<!--        <header>-->
<!--            <h1>test님의 댓글</h1>-->
<!--            <span class="mobile_guest">test</span>                                    작성일-->
<!--            <span class="mobile_bo_vc_hdinfo"><time datetime="2015-12-03T17:24:00+09:00">15-12-03 17:24</time></span>-->
<!--        </header>-->

        <!-- 댓글 출력 -->
<!--        <p>test</p>-->
        
        <!-- 수정 -->
<!--        <span id="mobile_edit_10"></span>-->
        <!-- 답변 -->
<!--        <span id="mobile_reply_10"></span>-->

<!--        <input type="hidden" id="secret_comment_10" value="">-->
<!--        <textarea id="save_comment_10" style="display:none">test</textarea>-->

<!--        <footer>-->
<!--            <ul class="mobile_bo_vc_act">-->
<!--                <li><a href="/board/reply_save" onclick="comment_box('10', 'c'); return false;">답변</a></li>-->
<!--                <li><a href="#" onclick="return comment_delete();">삭제</a></li>-->
<!--            </ul>-->
<!--        </footer>-->
<!--        </article>-->
<!--</section>-->

    <aside id="mobile_bo_vc_w">
        <h2>댓글쓰기</h2>
        <% if current_user.nil? %>
        <form name="fviewcomment" action="/board/reply_save" onsubmit="return fviewcomment_submit(this);" method="post" autocomplete="off">
        <input type="hidden" name="author_id" value="00" id="author_id" required="" class="frm_input required" size="5" maxlength="20">
        <input type="hidden" name="w" value="c" id="w">
        <input type="hidden" name="bo_table" value="notice">
        <% else %>
        <% end %>
        <!--<input type="hidden" name="wr_id" value="7">-->
        <!--<input type="hidden" name="comment_id" value="" id="comment_id">-->
        <!--<input type="hidden" name="sca" value="">-->
        <!--<input type="hidden" name="sfl" value="">-->
        <!--<input type="hidden" name="stx" value="">-->
        <!--<input type="hidden" name="spt" value="">-->
        <!--<input type="hidden" name="page" value="">-->
        <!--<input type="hidden" name="is_good" value="">-->

        <div class="mobile_tbl_frm01 mobile_tbl_wrap">
            <table>
            <tbody>
            <tr>
                <th scope="row"><label for="wr_name">이름<strong class="sound_only">필수</strong></label></th>
                <td><input type="text" name="wr_name" id="wr_name" required="" class="frm_input required" size="5" maxlength="20"></td>
            </tr>
            <tr>
                <th scope="row"><label for="wr_password">비밀번호<strong class="sound_only">필수</strong></label></th>
                <td><input type="password" name="wr_password" id="wr_password" required="" class="frm_input required" size="10" maxlength="20"></td>
            </tr>
            <tr>
                <th scope="row"><label for="wr_secret">비밀글사용</label></th>
                <td><input type="checkbox" name="wr_secret" value="secret" id="wr_secret"></td>
            </tr>
            <tr>
                <th scope="row">내용</th>
                <td>
                    <textarea id="wr_content" name="wr_content" required="" title="댓글 내용"></textarea>
                </td>
            </tr>
            </tbody>
            </table>
        </div>

        <div class="mobile_btn_confirm">
            <input type="submit" value="댓글등록" id="btn_submit" class="mobile_btn_submit" accesskey="s">
        </div>
        </form>
    </aside>

    <script>
    var save_before = '';
    var save_html = document.getElementById('mobile_bo_vc_w').innerHTML;

    function good_and_write()
    {
        var f = document.fviewcomment;
        if (fviewcomment_submit(f)) {
            f.is_good.value = 1;
            f.submit();
        } else {
            f.is_good.value = 0;
        }
    }

    function fviewcomment_submit(f)
    {
        var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자

        f.is_good.value = 0;

        /*
        var s;
        if (s = word_filter_check(document.getElementById('wr_content').value))
        {
            alert("내용에 금지단어('"+s+"')가 포함되어있습니다");
            document.getElementById('wr_content').focus();
            return false;
        }
        */

        var subject = "";
        var content = "";
        $.ajax({
            url: g5_bbs_url+"/ajax.filter.php",
            type: "POST",
            data: {
                "subject": "",
                "content": f.wr_content.value
            },
            dataType: "json",
            async: false,
            cache: false,
            success: function(data, textStatus) {
                subject = data.subject;
                content = data.content;
            }
        });

        if (content) {
            alert("내용에 금지단어('"+content+"')가 포함되어있습니다");
            f.wr_content.focus();
            return false;
        }

        // 양쪽 공백 없애기
        var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자
        document.getElementById('wr_content').value = document.getElementById('wr_content').value.replace(pattern, "");
        if (char_min > 0 || char_max > 0)
        {
            check_byte('wr_content', 'char_count');
            var cnt = parseInt(document.getElementById('char_count').innerHTML);
            if (char_min > 0 && char_min > cnt)
            {
                alert("댓글은 "+char_min+"글자 이상 쓰셔야 합니다.");
                return false;
            } else if (char_max > 0 && char_max < cnt)
            {
                alert("댓글은 "+char_max+"글자 이하로 쓰셔야 합니다.");
                return false;
            }
        }
        else if (!document.getElementById('wr_content').value)
        {
            alert("댓글을 입력하여 주십시오.");
            return false;
        }

        if (typeof(f.wr_name) != 'undefined')
        {
            f.wr_name.value = f.wr_name.value.replace(pattern, "");
            if (f.wr_name.value == '')
            {
                alert('이름이 입력되지 않았습니다.');
                f.wr_name.focus();
                return false;
            }
        }

        if (typeof(f.wr_password) != 'undefined')
        {
            f.wr_password.value = f.wr_password.value.replace(pattern, "");
            if (f.wr_password.value == '')
            {
                alert('비밀번호가 입력되지 않았습니다.');
                f.wr_password.focus();
                return false;
            }
        }

        if (!chk_captcha()) return false;

        document.getElementById("btn_submit").disabled = "disabled";

        return true;
    }

    function comment_box(comment_id, work)
    {
        var el_id;
        // 댓글 아이디가 넘어오면 답변, 수정
        if (comment_id)
        {
            if (work == 'c')
                el_id = 'reply_' + comment_id;
            else
                el_id = 'edit_' + comment_id;
        }
        else
            el_id = 'mobile_bo_vc_w';

        if (save_before != el_id)
        {
            if (save_before)
            {
                document.getElementById(save_before).style.display = 'none';
                document.getElementById(save_before).innerHTML = '';
            }

            document.getElementById(el_id).style.display = '';
            document.getElementById(el_id).innerHTML = save_html;
            // 댓글 수정
            if (work == 'cu')
            {
                document.getElementById('wr_content').value = document.getElementById('save_comment_' + comment_id).value;
                if (typeof char_count != 'undefined')
                    check_byte('wr_content', 'char_count');
                if (document.getElementById('secret_comment_'+comment_id).value)
                    document.getElementById('wr_secret').checked = true;
                else
                    document.getElementById('wr_secret').checked = false;
            }

            document.getElementById('comment_id').value = comment_id;
            document.getElementById('w').value = work;

            if(save_before)
                $("#captcha_reload").trigger("click");

            save_before = el_id;
        }
    }

    function comment_delete()
    {
        return confirm("이 댓글을 삭제하시겠습니까?");
    }

    comment_box('', 'c'); // 댓글 입력폼이 보이도록 처리하기위해서 추가 (root님)

        </script>
    <script src="http://theme.sir.kr/gnuboard5/js/md5.js"></script>

    <div id="mobile_bo_v_bot">
        <!-- 링크 버튼 -->
        <ul class="mobile_bo_v_nb">
            <li><a href="./board.php?bo_table=notice&amp;wr_id=6" class="mobile_btn_b01">다음글</a></li>
        </ul>
        
        <ul class="mobile_bo_v_com">
            <li><a href="./board.php?bo_table=notice&amp;page=" class="mobile_btn_b01">목록</a></li>
        </ul>
    </div>

</article>
<!-- 모바일 버전 끝 -->



<!-- 하단 시작 { -->
    <%= render :partial => '/krc/footer' %>
<!-- } 하단 끝 -->



<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->