<!--pc 버전 시작-->
<!-- 상단 시작 { -->

    <!--<div id="hd">-->
    <!--    <h1 id="hd_h1"></h1>-->
    <!--    <div id="skip_to_container">-->
    <!--        <a href="#container"></a>-->
    <!--    </div>-->
        <%#= render :partial => 'main_navbar' %>
    <!--    <hr>-->
    <!--</div>-->
    <%# if current_user %>
    <%#= render :partial => 'krc/user_modal' %>
    <%# end %>

<!-- } 상단 끝 -->

<hr>
<div class="row" style="padding:0; width:72%; float:left;">
<!-- 콘텐츠 시작 { -->
<div id="idx_wrapper" class="" style="padding:0;border: 10px solid;border-radius: 0px;">
    <!--메인배너-->
    <div id="main_bn">
        <ul class="bn_ul">
            <!--https://40.media.tumblr.com/795409fb917e7dff3fb9d1589e2b402f/tumblr_nj0w5roP8L1tmxi3oo1_1280.jpg-->
            <% MainCrc.all.order('turn asc').each do |mcmc| %>
                <li class="bn_bg1" id="bgmcm_<%= mcmc.id %>" style="background: url(<%= mcmc.img %>) no-repeat 50% 50%;">
                    <div class="bn_wr">
                        <div class="bn_txt" id="0_<%= mcmc.id %>">
                            <h2 id="0_<%= mcmc.id %>_title"><span><%= mcmc.title1 %></span><br><span id="0_<%= mcmc.id %>_title2"><%= mcmc.title2 %></span></h2>
                            <p><span id="0_<%= mcmc.id %>_subtitle1"><%= mcmc.subtitle1 %></span><br><span id="0_<%= mcmc.id %>_subtitle2"><%= mcmc.subtitle2 %></span></p>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
        <div class="bn_btn">
            <a href="#" class="unslider-arrow prev">Previous slide</a>
            <a href="#" class="unslider-arrow next">Next slide</a>
        </div>
    </div>
    <!--메인배너-->
    <script>
    $(function() {
        var unslider = $("#main_bn").unslider({
            speed: 700,               //  The speed to animate each slide (in milliseconds)
            delay: 5000,              //  The delay between slide animations (in milliseconds)
            keys: true,               //  Enable keyboard (left, right) arrow shortcuts
            dots: true,               //  Display dot navigation
            fluid: false              //  Support responsive design. May break non-responsive designs
        });
        
        $('.unslider-arrow').click(function() {
            var fn = this.className.split(' ')[1];

            //  Either do unslider.data('unslider').next() or .prev() depending on the className
            unslider.data('unslider')[fn]();
        });
    });
    </script>
    <div id="idx_container">
        <ul id="comp_bn">
            <% tab_n = 0 %>
            <% Tab.where(:name => '열린광장').take.intabs.first(4).last(3).each do |gallery| %>
            <li>
                <button type="button" class="accordion-toggle bubn_btn">
                    <%= gallery.name %><span>사업보기</span>
                </button>
                <div class="accordion-content bubn_img <%= "default" if tab_n == 0 %>">
                    <img src="<%= gallery.img %>" alt="겔러리 이미지" style="width: 100%;"/>
                    <div class="bubn_img_ov">
                        <h3><%= gallery.name %></h3>
                        <p><%= gallery.subscribe %><br>
                            <span>
                                <% 
                                    today = Date.parse(Time.zone.now.to_s).to_s 
                                    dd_date = []
                                    
                                    gallery.posts.all.each do |gp|
                                        gp_date = Date.parse(gp.created_at.to_s).to_s
                                        if today.to_i - gp_date.to_i <= 2
                                            dd_date << gp
                                        end
                                    end
                                %>
                                <span>새글 <%= dd_date.count %></span> | <span>조회수 8</span>
                            </span>
                        </p>
                        <a href="/board/page/<%= gallery.id %>">상세보기</a>
                    </div>
                </div>
            </li>
            <% tab_n += 1 %>
            <% end %>
        </ul>
       
        <script type="text/javascript">
          $(document).ready(function() {
            $("#comp_bn").find(".accordion-toggle").click(function(){
                $(this).next().slideToggle('fast');
                $(".accordion-content").not($(this).next()).slideUp('fast');
            });
          });
        </script>
        
        <!--pc 버전 시작-->
        <ul id="comp_if">
            <% 
                @md_1 = Intab.where(:templete => "introduce").take
                @md_2 = Intab.where(:templete => "donate").take
                @md_3 = Intab.find(7)
            %>
            <li  class="com_bg1">
                <h2 style="font-weight: bold;"><%= @md_1.name %></h2>
                <p style="width: 65%;"><%= @md_1.subscribe %></p>
                <a href="/board/page/<%= @md_1.id %>" style="background: url(<%= @md_1.img %>) no-repeat bottom right #e7f0f6;">바로가기</a>
            </li>
            <li  class="com_bg2">
                <h2 style="font-weight: bold;"><%= @md_2.name %></h2>
                <p style="width: 65%;"><%= @md_2.subscribe %></p>
                <a href="/board/page/<%= @md_2.id %>" style="background: url(<%= @md_2.img %>) no-repeat bottom right #2676c5">바로가기</a>
            </li>
            <li  class="com_bg3">
                <h2 style="font-weight: bold;"><%= @md_3.name %></h2>
                <p style="width: 65%;"><%= @md_3.subscribe %></p>
                <a href="/board/page/<%= @md_3.id %>" style="background: url(<%= @md_3.img %>) no-repeat bottom right #e7f0f6;">바로가기</a>
            </li>
        </ul>
        <!--pc 버전 끝-->
        <div id="comp_lt">
            <div class="li_notice">
                <!-- 공지사항 최신글 시작 { -->
                <% rgt_up = Intab.where(:name => '공지사항').take %>
                <div class="lt_main">
                    <strong class="lt_title">
                        <a href="/board/page/<%= rgt_up.id %>"><%= rgt_up.name %></a>
                        <!--http://theme.sir.co.kr/gnuboard5/bbs/board.php?bo_table=notice-->
                    </strong>
                    <ul>
                        <% rgt_up.posts.last(4).reverse.each do |x| %>
                        <li>
                            <a href="/board/post_read/<%= x.id %>">
                                <% if x.title.length > 25 %>
                                    <%= x.title.first(25) + '...' %>
                                <% else %>
                                    <%= x.title %>
                                <% end %>
                                <span class="cnt_cmt"><%= x.replies.count %></span></a><span class="lt_date"><%= Date.parse(x.created_at.to_s).to_s.last(5) %></span>
                            <!--http://theme.sir.co.kr/gnuboard5/bbs/board.php?bo_table=notice&amp;wr_id=7-->
                        </li>
                        <% end %>
                    </ul>
                
                    <div class="lt_more"><a href="/board/page/<%= rgt_up.id %>"><span class="sound_only">공지사항</span>더보기</a></div>
                    <!--http://theme.sir.co.kr/gnuboard5/bbs/board.php?bo_table=notice-->
                </div>
                <!-- } 공지사항 최신글 끝 -->    
            </div>
            <div class="li_gall">
                
        <!-- 베스트 메뉴 최신글 시작 { -->
        <% rgt_dwn = Intab.find(6) %>
        <div class="lt_gal">
            <strong class="lt_title"><a href="/board/page/<%= rgt_dwn.id %>">교단자정 소식지</a></strong>
            <ul>
                <li>
                    <a href="#" class="lt_image"><img src="/theme/krc/img/thumb_ri.jpg" alt="" width="143" height="89"></a>
                    <a href="#" class="lt_tit">7월 웹진</a>
                    <p class="lt_detail">메뉴입니다.&nbsp;&nbsp;메뉴입니다.&nbsp;</p>
                </li>
                <li>
                    <a href="#" class="lt_image"><img src="/theme/krc/img/thumb_ri.jpg" alt="" width="143" height="89"></a>
                    <a href="#" class="lt_tit">7,500원</a>
                    <p class="lt_detail">인기상품입니다.&nbsp;두줄에서 세줄까지 작성합니다.나머지 부가 설명은…</p>
                </li>
                <li>
                    <a href="#" class="lt_image"><img src="/theme/krc/img/thumb_ri.jpg" alt="" width="143" height="89"></a>
                    <a href="#" class="lt_tit">인기상품</a>
                    <p class="lt_detail">ㅋㅋ&nbsp;내용을 입력하세요.</p>
                </li>
            
                </ul>
        
            <div class="lt_more"><a href="#"><span class="sound_only">교단자정 소식지</span>더보기</a></div>
            <!--http://theme.sir.co.kr/gnuboard5/bbs/board.php?bo_table=gallery-->
        </div>
        <!-- } 교단자정 소식지 최신글 끝 -->    </div>
        </div>
        <!--<a href="#hd" id="top_btn">상단으로</a>-->
    </div>
</div>

</div>


<div>
    <div style="margin-left: 30px;position: absolute;width: 27%;right: 0.5%;">
        <% nnn = 1 %>
        <% MainCrc.all.order('turn asc').each do |mcm| %>
        <%# MainCrc.find(iis) %>
        <form action="/board/crc_save" method="post">
            <div class="list-group">
                <a id="btn_slide_inputs_<%= mcm.id %>" class="list-group-item" style="background:rgba(245, 133, 133, 0.44); text-align:center; font-size:20px; font-weight:bold;">
                    <%= nnn %>번째 배경 슬라이드 변경하기</a>
                <script>
                $( "#btn_slide_inputs_<%= mcm.id %>" ).click(function () {
                  if ( $( "#slide_inputs_<%= mcm.id %>" ).is( ":hidden" ) ) {
                    $( "#slide_inputs_<%= mcm.id %>" ).slideDown( "fast", function(){
                        
                    });
                  } else {
                    $( "#slide_inputs_<%= mcm.id %>" ).slideUp( "fast", function(){
                        
                    });
                  }
                });
                </script>
                
                <div id="slide_inputs_<%= mcm.id %>" style="display:none;">
                    <a class="list-group-item" style="height: 55px;"><b>순서</b><span style="float:right;width:60%;"><input id="<%= mcm.id %>_turn" type="number" name="turn" value="<%= mcm.turn %>" class="form-control" style=""></span></a>
                    <a class="list-group-item" style="height: 55px;"><b>이미지 주소</b><span style="float:right;width:60%;"><input id="<%= mcm.id %>_img" type="text" name="img" value="<%= mcm.img %>" class="form-control" style=""></span></a>
                    <a class="list-group-item" style="height: 55px;"><b>제목 첫째줄(최대 8자)</b><span style="float:right;width:60%;"><input id="<%= mcm.id %>_title1" type="text" name="title1" value="<%= mcm.title1 %>" class="form-control" style=""></span></a>
                    <a class="list-group-item" style="height: 55px;"><b>제목 둘째줄(최대 8자)</b><span style="float:right;width:60%;"><input id="<%= mcm.id %>_title2" type="text" name="title2" value="<%= mcm.title2 %>" class="form-control" style=""></span></a>
                    <a class="list-group-item" style="height: 55px;"><b>부제 첫째줄(최대 12자)</b><span style="float:right;width:60%;"><input id="<% mcm.id %>_subtitle1" type="text" name="subtitle1" value="<%= mcm.subtitle1 %>" class="form-control" style=""></span></a>
                    <a class="list-group-item" style="height: 55px;"><b>부제 둘째줄(최대 12자)</b><span style="float:right;width:60%;"><input id="<%= mcm.id %>_subtitle2" type="text" name="subtitle2" value="<%= mcm.subtitle2 %>" class="form-control" style=""></span></a>
                    <input type="hidden" name="id" value="<%= mcm.id %>">
                    <input type="submit" value="저장하기" class="list-group-item" style="width: 100%; color: #fff;background-color: #f0ad4e;border-color: #eea236;cursor: pointer;text-align:center; font-size:20px; font-weight:bold;">
                </div>
            </div>
        </form>
        <script>
        // 이미지 즉석삽입
            $( "#<%= mcm.id %>_img" ).change(function () {
                var str = "width:25%; background: url(" + $( this ).val() + ") no-repeat 50% 50%;";
                $( "#bgmcm_<%= mcm.id %>" ).attr('style', "" );
                $( "#bgmcm_<%= mcm.id %>" ).attr('style', str );
            }).change();
        // 제목1 즉석삽입
            $( "#<%= mcm.id %>_title1" ).ready(function () {
                var str_tt1 = $( this ).val();
                $( "#0_<%= mcm.id %> h2 span:first" )
                                        .val('');
                $( "#0_<%= mcm.id %> h2 span:first" )
                                        .val(str_tt1);
            }).change();
        // 제목2 즉석삽입
            $( "#<%= mcm.id %>_title2" ).change(function () {
                var str_tt2 = $( this ).val()
                $( "#0_<%= mcm.id %> h2 span:second" ).val('');
                $( "#0_<%= mcm.id %> h2 span:second" ).val(str_tt2);
            }).change();
        // 부제1 즉석삽입
            $( "#<% mcm.id %>_subtitle1" ).change(function () {
                var str_st1 = $( this ).val()
                $( "#0_<%= mcm.id %>_subtitle1" ).val("");
                $( "#0_<%= mcm.id %>_subtitle1" ).val(str_st1);
            }).change();
        // 부제2 즉석삽입
            $( "#<% mcm.id %>_subtitle2" ).change(function () {
                var str_st2 = $( this ).val()
                $( "#0_<%= mcm.id %>_subtitle2" ).val("");
                $( "#0_<%= mcm.id %>_subtitle2" ).val(str_st2);
            }).change();
        </script>
        <% nnn += 1 %>
        <% end %>
    </div>
</div>
<!--  콘텐츠 끝 -->
<!--pc 버전 끝-->
<hr>
<%#= render :partial => 'footer' %>

<script>        
    
    // var mySwiper = new Swiper ('.swiper-container', {
    // // Optional parameters
    // direction: 'vertical',
    // loop: true,
    
    // // If we need pagination
    // pagination: '.swiper-pagination',
    
    // // Navigation arrows
    // nextButton: '.swiper-button-next',
    // prevButton: '.swiper-button-prev',
    
    // // And if we need scrollbar
    // scrollbar: '.swiper-scrollbar',
    // })        
</script>

<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->

<!--<script src="/js/jquery-1.8.3.min.js"></script>-->
<!--<script src="/js/jquery.menu.js"></script>-->