<!--<div class="panel panel-default col-md-12" style="padding:0;margin: 40px 0px;">-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-size:25px;">
                회원가입자 <b>총 <%= User.count %></b>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <!-- Table -->
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr style="font-weight:bold;">
                                <th style="min-width:30px;">순서</th>
                                <th>권한</th>
                                <th>닉네임</th>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>전화번호</th>
                                <th>이메일</th>
                                <th>가입일</th>
                                <th>로그인횟수</th>
                                <th>최종방문일</th>
                                <th>부가기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% skek = 1 %>
                            <%
                                if params[:aboutusr] == nil
                                    sluser = User.all
                                elsif params[:aboutusr] == '9'
                                    sluser = User.where(" mb_open >= 9 ").all
                                else 
                                    sluser = User.where(mb_open: params[:aboutusr]).all
                                end
                                    
                            %>
                            <% sluser.each do |user| %>
                                <tr>
                                    <td style="text-align:center;"><%= skek %></td>
                                    <th><%= user.authority %></th>
                                    <td><%= user.nickname %></td>
                                    <td><%= user.username %></td>
                                    <td><%= user.mb_id %></td>
                                    <td><%= user.phonenumber %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.created_at %></td>
                                    <td><%= user.sign_in_count %></td>
                                    <td><%= user.updated_at %></td>
                                    <td style="text-align:center">
                                        <a data-toggle="modal" data-target="#send_user_<%= user.id %>" class="btn btn-warning">수정</a> 
                                        <!--<a href="<%= user.id %>" class="btn btn-danger" style="color:white;">삭제</a>-->
                                    </td>
                                </tr>
                                <!--------------회원정보 수정 모달----------------->
                                <%
                                  x = user.for_myInfo_modal
                                  i = 0
                                  $myInfo.each do |info|
                                    eval("#{info} = x[#{i}]")
                                    i += 1
                                  end
                                %>

                                <div id="send_user_<%= user.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <form action="/board/mod_user" method="post">
                                      <input type="hidden" name="id" value="<%= user.id %>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header" style="background-color:#3E3C52; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" style="font-weight:bold; color:#fff;"><%= user.username %>(<%= user.nickname %>) 님의 회원정보</h4>
                                      </div>
                                      <div class="modal-body" style="padding:0;">
                                        <div class="panel panel-default" style="margin:0;border:0px;">
                                          <!-- Default panel contents -->
                                          <div class="panel-heading" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #f2dede;">
                                              <span style="font-size:22px; color:#D23232;"><%= user.authority %></span> 입니다.
                                          </div>
                                          <div class="panel-body">
                                            <p>
                                                <select type="text" name="mb_open" class="form-control" style="float:left;">
                                                    <option value="" <%= "selected" if user.mb_open == "" %>>-회원권한-</option>
                                                    <option value="10" <%= "selected" if user.mb_open == 10 %>>최고관리자</option>
                                                    <option value="9" <%= "selected" if user.mb_open == 9 %>>사이트관리자</option>
                                                    <option value="8" <%= "selected" if user.mb_open == 8 %>>직원</option>
                                                    <option value="5" <%= "selected" if user.mb_open == 5 %>>일반 관리자</option>
                                                    <option value="3" <%= "selected" if user.mb_open == 3 %>>정회원</option>
                                                    <option value="2" <%= "selected" if user.mb_open < 3 %>>인터넷회원</option>
                                                </select>
                                            </p>
                                          </div>
                                        
                                          <!-- List group -->
                                          <div class="list-group">
                                              <% x = current_user %>
                                              <% i = 0 %>
                                              <% @myinfo_arr.each do |m_i| %>
                                                  <a class="list-group-item" style="height:42px;padding: 0px 15px 0px 0px;">
                                                      <div style="float:left; font-weight:bold; height: 100%; background-color: #fcf8e3; width: 30%; text-align:center; padding: 11px;"><%= @myinfo_arr2[i] %></div>
                                                      <span style="float:right; font-weight:bold; margin-top: 11px;"><%= eval("@#{m_i}") %></span>
                                                  </a>
                                              <% i += 1 %>
                                              <% end %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer" style="background-color:#3E3C52; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                        <a href="/board/exit_user/<%= user.id %>" class="btn btn-danger btn-sm" style="float: left; font-weight: bold; color:#fff;">강제탈퇴</a>
                                        <input type="submit" class="btn btn-warning btn-sm" style="float: left; font-weight: bold; color:#fff;">정보변경</a>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">닫기</button>
                                      </div>
                                    </div>
                                  </div>
                                  </form>
                                </div>
                                <% skek += 1 %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
            responsive: true
    });
});
</script>